<div class="remark42-container" style="margin-top:2rem;">
  <div id="remark42"></div>
  <script>
    var remark_config = {
      host: "https://comments.pcbisolation.com",
      site_id: "pcbisolation",
      components: ["embed"],
      theme: window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light",
    };
    (function() {
      var d = document, s = d.createElement("script");
      s.src = remark_config.host + "/web/embed.js";
      s.defer = true;
      (d.head || d.body).appendChild(s);
    })();
  </script>
</div>
